
#contact-banner{
    background-color:#ffffffae;
    padding: 0 15% 0 15%;
    margin-top: 5vh;
    height: 70vh;

}


#form-contact{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
    height: 60vh;
    padding: 2%;

}
#tittle-contact {
    font-size: 4vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 0.8; /* Mejora la legibilidad */
    font-weight: 500;
    font-family: poppins;

  }
  #paragraph-tittle-contact{
    font-size: 1vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 500;
    font-family: poppins;
  }

  #paragraph-contact{
    font-size: 0.7vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 200;
    font-family: poppins;
  }

  #contact-form-tittle{
    font-size: 1.5vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 500;
    font-family: poppins;
  }
  #contact-form-paragraph{
    font-size: 0.7vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 300;
    font-family: poppins;
    margin-top: -2vh;
  }
  .input{
    border-radius: 15px;
    font-size: 0.6vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 200;
    font-family: poppins;  
    border: 1px solid #e4e4e4;
}
.input2{
    border-radius: 0 15px 15px 0;
    font-size: 0.6vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 200;
    font-family: poppins;  
    border: 1px solid #e4e4e4;
}

.form-select{
    border-radius: 15px 0  0 15px;
    font-size: 0.6vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 200;
    font-family: poppins;  
    border: 1px solid #e4e4e4;
}
.input-container3 {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-container3 svg {
    position: absolute;
    left: 10px; /* Ajusta según necesidad para alinear el SVG dentro del input */
    height: 20px; /* Ajusta el tamaño del SVG según necesidad */
    width: 20px; /* Ajusta el tamaño del SVG según necesidad */
    fill: #ffffff; /* O cualquier color que prefieras */
    stroke: rgb(209, 209, 209);
  }
  
  .input-container3 input {
    padding-left: 40px; /* Ajusta según el tamaño de tu SVG para evitar solapamientos */
    min-width: 100%;
  }
  
  .input3 {
    border-radius: 15px;
    font-size: 0.6vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 200;
    font-family: 'Poppins', sans-serif; /* Asegúrate de usar el nombre correcto de la fuente y añade un fallback */
    border: 1px solid #e4e4e4;
    outline: none; /* Quita el contorno al enfocar */
  }
  .terms-text-form{
    font-size: 0.7vw; /* Usa vw para ajustarse al ancho de la pantalla */
    line-height: 2; /* Mejora la legibilidad */
    font-weight: 400;
    font-family: poppins;
    padding: 0 4% 0 4%;
    
  }
  .href-terms{
    text-decoration: none; 
    color: rgb(0, 0, 0);
  }

  #map-contact{
    background-color:#fffefe;
    padding: 0 15% 0 15%;
    height: 70vh;
  }
#map{
    height: 60vh;
    width: 60vh;

    border-radius: 15px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
}

#faq{
    background-color:#ffffffae;
    padding: 0 15% 0 15%;
    height: 70vh;
}