body {
  transition: background-color 0.5s ease;
}
header {
  transition: background-color 0.5s ease;
}
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
  height: 5px;
}

/* Estilo del track del scrollbar (la parte que "contiene" al thumb) */
::-webkit-scrollbar-track {
  background: #000000; /* Color de fondo del track del scrollbar */
}

/* Estilo del thumb del scrollbar (la parte que se mueve/arrastra) */
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Color del thumb del scrollbar */
  border-radius: 2px; /* Borde redondeado del thumb */
  border: 1px solid #000000e4; /* Borde opcional para el thumb */
}
#introduction{
  margin-top: -7em;
}

.general_margin5{
  margin-bottom: 20vw;
}


#certification-image{
  filter: invert(100%) grayscale(100%);
}
.custom-cursor {

  background: linear-gradient(to top right, #9d04ae70, #08fff33a);

  }

  
  .navbar-toggler-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }

.swiper-slide {
  width: 33%;
  border-left: 1px solid #a407d351;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.button-container-header {
  display: flex;
  background-color: rgba(255, 255, 255, 0) ;
  width: 90em;
  gap: 20px;
  height: 10em;
  padding: 0 5% 0 5%;
  z-index: 10;
  backdrop-filter: blur(20px);
  font-size: 0.4em;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  box-shadow: 5px 5px 50px 0ch rgba(0, 0, 0, 0.006);

        
}
.button-header {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button-header:hover {
  transform: translateY(-3px);
}
.button-header span {
  font-size: 1.5em;
  margin: 0 50px; /* Ajusta este valor según necesites para aumentar el espacio */
  font-family: 'Poppins', sans-serif; /* Asegúrate de que el nombre de la fuente esté correctamente escrito y la fuente esté importada o disponible */
  font-weight: 400;
  color: #ffffff;
  display: inline-block; /* Esto asegura que el margin se aplique correctamente */
}
h6{
  font-family: raleway;
  margin-top: 1em;
  font-style: inherit;
}
.nav-full{
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em; /* Añade esta línea para el espaciado izquierdo */
  margin-right: 3em; /* Añade esta línea para el espaciado derecho */
  font-style: inherit;

}

.icon-header {
  font-size: 20px;
}

#logo-header{
  font-size: 2.6em;
  font-family: poppins;
  font-weight: 500; 
  z-index: 10;
  position: relative; 
  top: 1vw;
  color: rgb(255, 255, 255);
 }
 @media (max-width: 1281px) {
  #logo-header{
    font-size: 2.5vw;
  }
  #bubbles{
    display: none;
  }
}
#gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #a514bc4b, #e9b7f0);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 90%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}



#gooey2 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #02a1da70, #fbe1ff3a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 25%;
  left: 5%;
  filter: blur(20px);
  animation-name: gooey2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey2 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#gooey3 {
  height: 40vw;
  width:40vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #231aacc9, #c1c1c148);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 10%;
  left: 60%;
  filter: blur(70px);
  animation-name: gooey3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey3 {
  from {
    filter: blur(20px);
    transform: translate(0, 0) skew(0); /* Empieza sin desplazamiento */
  }
  to {
    filter: blur(30px);
    transform: translate(20%, 0) skew(0); /* Se mueve hacia la derecha y no cambia verticalmente */
  }
}
#gooey4 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #0838d570, #08fff33a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 25%;
  left: 35%;
  filter: blur(20px);
  animation-name: gooey4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey4 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#gooey5 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #9d04ae70, #08fff33a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  left: 50%;
  filter: blur(20px);
  animation-name: gooey5;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey5 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}


/* Establece colores y estilos generales para el modo oscuro */
body {
    background-color: #000000; /* Color de fondo oscuro */
    color: #E0E0E0; /* Color de texto claro */
  }
.background-video{
  display: none ;
}
.triangle{
  display: none;
}



.card_header_social {
  width: fit-content;
  height: fit-content;
  background-color: rgb(3, 3, 3); /* Fondo claro */
  border-radius: 3em 3em 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 17px;
  gap: 20px;
}

.socialContainer_header_social {
  background-color: rgb(220, 220, 220); /* Fondo más claro para iconos sociales */
}

.socialSvg_header_social path {
  fill: rgb(0, 0, 0); /* Color de los íconos para mayor contraste */
}

/* Ajustes para el hover de los contenedores sociales en modo claro */
.containerOne_header_social:hover,
.containerTwo_header_social:hover,
.containerThree_header_social:hover,
.containerFour_header_social:hover {
  background-color: #121212; /* Fondo oscuro para contraste al hacer hover */
}

.socialContainer_header_social:hover .socialSvg_header_social path {
  fill: #ffffff; /* Íconos blancos al hacer hover para contraste */
}

/* Ajustes adicionales para el header en modo claro */
header {
  background-color: rgb(255, 255, 255); /* Fondo claro para el header */
  color: rgb(255, 255, 255); /* Color de texto oscuro para contraste */
}

.navbar {
  background-color: rgb(0, 0, 0); /* Fondo ligeramente diferente para la barra de navegación */
 

}
.nav-item a{
  color: white;
}

.dropdown-menu {
  background-color: #1f1f1f; /* Fondo claro para menú desplegable */
  color: black; /* Texto oscuro para items del menú */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Color de fondo al hacer hover sobre items del menú */
}

.foot p {
  line-height: 0;
  color: white;
}
.foot_buttons{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.social-icons img {
  width: 32px; /* Ajusta el tamaño de los íconos */
  height: auto;
  filter: invert(100);
}


.button-io {
  padding: 13px 40px;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  background-color: #121212;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.button-io:hover {
  letter-spacing: 3px;
  background: linear-gradient(744deg,#275EB5,#C777E3);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.button-io:active {
  letter-spacing: 3px;
  background-color: #dfb3f4;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(247, 135, 255) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}



/* Portfolio */ 
.myportfolio_video{
  display: none;
}


/* Skilltags */

.skillTag{
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  flex: auto;
  border: 0;
  background-color: rgb(29, 29, 29);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.5s ease;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
}

.skillTag:hover {
  letter-spacing: 3px;
  background-color: rgba(219, 77, 255, 0.583);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

.skillTag:active {
  letter-spacing: 3px;
  background-color: hsl(288, 78%, 41%);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(255, 82, 223) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: all 100ms ease; 
}
h1, .h1-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4em;
}

p, .p-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  margin: 0 10%;
  padding: 0%;
}

b {
  color: #A648CB;
}

.h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.5em;
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  h1, .h1-2 {
    font-size: 2em; /* Ligeramente más pequeño para tablets y teléfonos en posición horizontal */
  }

  p, .p-2 {
    font-size: 1.2em;
    margin: 0 5%;
  }

  .h6 {
    font-size: 0.4em; /* Ajuste para elementos más pequeños */
  }
}

@media (max-width: 480px) {
  h1, .h1-2 {
    font-size: 1.6em; /* Más pequeño para teléfonos en posición vertical */
  }
  
  .but_backend{
    font-size: 2em;
  }

  p, .p-2 {
    font-size: 1em;
    margin: 0 2%;
  }

  .h6 {
    font-size: 0.3em; /* Ajuste para pantallas muy pequeñas */
  }
  #introduction{
    height: 15em;
  }
  .text-home{
    font-size: 1em;
    }
  #bubbles{
    display: none;
  }
  .general_padding{
    padding: 0 30em 0 30em;
  }
  #tools{
    padding:0;
  }

  .general_margin{
    margin-bottom: 0em; 
    margin-top: -6em;
  }
  .general_margin2{
    margin-bottom: 0em; 
    margin-top: -7em;
  }
  .general_margin3{
    margin-bottom: 2em; 
    margin-top: -5em;
  }
  .general_margin4{
    margin-bottom: 0em; 
    margin-top: -5em;
  }
  .main-banner-fadeout {
    height: 55em;
  }
  

}



@media (max-width: 768px) {
  #blueDiv{
    display: none;
  }
  #logo-header{
    font-size: 2em;
  }
  .circle-person, .cube-loader{
    display: none;
  }
  #introduction{
    margin-top: -15em;
  }
  #backend_stuff{
    padding: 8%;
  }
}

@media (max-width: 480px) {
  .general-left-padding{
    padding-left: 15%;
  }
  #videoElement, #search-footer{
    display: none;
  }
  
}
@media (max-width: 480px) {
  .general-left-padding{
    padding-left: 15%;
  }
  .main-banner-fadeout {
    height: 55em;
  }
  .responsive_reviews{
    display: none;
  }
  .review_paragraph{
    align-items: center;
  }

}