#page4 {
    height: 50vh;
    width: 100%;
    cursor: none;
}

/* Estilo base para el cursor personalizado */
.custom-cursor {
    pointer-events: none;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: blur(35px);
    background-color: #8713d5;
    background-image: radial-gradient(at 85% 51%, rgb(229, 229, 209) 0px, transparent 50%),
      radial-gradient(at 74% 68%, rgb(171, 0, 228) 0px, transparent 50%),
      radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
      radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
      radial-gradient(at 90% 65%, rgb(99, 23, 162) 0px, transparent 50%),
      radial-gradient(at 91% 83%, rgb(57, 3, 79) 0px, transparent 50%),
      radial-gradient(at 72% 91%, rgb(102, 0, 255) 0px, transparent 50%);
    transform: scale(0); /* Inicia desde cero para que no sea visible inicialmente */
    transition: transform 0.5s ease; /* Transición suave de la transformación */
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
    font-size: 12px;
    opacity: 0; /* Inicia con opacidad 0 para transiciones suaves */
 
}
  
  /* Clase para animar el cursor a su tamaño normal */
  .cursor-grow {
    transform: scale(1); /* Escala normal */
    opacity: 1; /* Hace el cursor totalmente visible */
  }
  
  /* Clase para ocultar el cursor suavemente */
  .cursor-shrink {
    transform: scale(0); /* Reduce el cursor a cero */
    opacity: 0; /* Hace el cursor completamente transparente */
  }
  



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 33%;
    border-left: 1px solid #f0f0f0;
}


