/* Button Costumers */
/* Note that you only needs to edit the config to customize the button! */
html{

  scroll-behavior: smooth;

}

 
.plusButton {
    /* Config start */
    --plus_sideLength: 1.8rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    border-radius: 5px;
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  /* Degradado Letras */
  .degradado {
    font-size: clamp(2vw, 3vw, 4vw); /* mínimo: 1vw, preferido: 1vw, máximo: 2.5vw */
    font-weight: bold;
    background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
    -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
    background-clip: text; /* Para navegadores estándar */
    color: transparent; /* Oculta el color del texto */
  }
  
  .data-logo{
    fill:none;
    stroke:#000000;
    stroke-width:2.50658;
    stroke-linecap:round;
    stroke-linejoin:round
  }
  
  .data-logo:hover{
    fill:none;
    stroke:#ffffff;
    stroke-width:2.50658;
    stroke-linecap:round;
    stroke-linejoin:round
  }
  
  
  /* Projects Cards */
  #Reviews {
    background-color: black;
  }
  .cardProjects {
      width: 300px;
      background: rgba(255, 255, 255, 0.216);
      filter: blur(50%);
      color: black;
      box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
  
      position: relative;
      border-radius:1em;
      padding: 2em;
      transition: transform 0.4s ease;
      margin-bottom: 1em;
      padding: 2em;  }
    
    .cardProjects .card-contentProjects {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5em;
      height: 100%;
      transition: transform 0.8s ease-out;
    }
    
    .cardProjects .card-topProjects, .cardProjects .card-bottomProjects {
      display: flex;
      justify-content: space-between;
    }
    
    .cardProjects .card-topProjects p, .cardProjects .card-topProjects .card-titleProjects, .cardProjects .card-bottomProjects p, .cardProjects .card-bottomProjects .card-titleProjects {
      margin: 0;
    }
    
    .cardProjects .card-titleProjects {
      font-weight: bold;
    }
    
    .cardProjects .card-topProjects p, .cardProjects .card-bottomProjects p {
      font-weight: 600;
    }
    
    .cardProjects .card-bottomProjects {
      align-items: flex-end;
    }
    
    .cardProjects .card-imageProjects {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: grid;
      place-items: center;
      pointer-events: none;
    }
    
    .cardProjects .card-imageProjects svg {
      width: 4em;
      height: 4em;
      transition: transform 0.4s ease;
    }
    
    .cardProjects:hover {
      cursor: pointer;
      transform: scale(0.97);
      background-color: hsla(0, 0%, 7%, 0.328);

    }   
    
    
    .cardProjects:hover .card-contentProjects {
      transform: scale(0.96);
    }
    
    .cardProjects:hover  svg {
      transform: scale(1.10);
      fill: white;
      stroke: rgb(255, 255, 255);
    }
    .cardProjects:hover  path {
      fill: white;
      stroke: rgb(0, 0, 0);
    }
  
    .cardProjects:hover p {
  color: white;
    }
    .cardProjects:hover span {
      color: white;
        }
    
    
    .cardProjects:active {
      transform: scale(0.9);
    }
    
  
  /* Tools Tags */ 
  .e-card {
    margin: 70px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 80vw; /* Hace el ancho de la tarjeta relativo al ancho del viewport */
    height: 80vw; /* Hace el alto de la tarjeta relativo al ancho del viewport */
    max-width: 280px; /* Máximo ancho para asegurar que no se vea demasiado grande en pantallas anchas */
    max-height: 280px; /* Máximo alto para mantener la proporción */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease; /* Transición suave para efectos de escala */
  }
  
  /* Estilos para el efecto de onda */
  .wave {
    position: absolute;
    width: 100%; /* Se ajusta al 100% del ancho de su contenedor */
    height: 100%; /* Se ajusta al 100% del alto de su contenedor */
    opacity: 0.9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2); /* Centra el fondo en la tarjeta y lo escala */
background-color: rgba(255, 255, 255, 0.025);   
filter: blur(50%); 
border-radius: 40%;
    animation: wave 55s infinite linear; /* Aplica animación infinita */
  }
  
  /* Estilos para iconos y texto */
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop, .name {
    text-align: center;
    font-size: calc(1vw + 2px); /* Ajuste dinámico del tamaño de fuente */
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.5s ease; /* Transición suave para efectos de escala */
  }
  
  .name {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 1em;
    color: white;
    background: linear-gradient(744deg, #275EB5, #C777E3);
    margin-bottom: 0.5em;
  }
  
  /* Estilos para interacción con el mouse */
  .e-card:hover {
    transform: scale(1.02); /* Escala la tarjeta ligeramente */
  }
  
  .name:hover {
    transform: scale(1.09); /* Escala el nombre independientemente */
  }
  
  /* Media queries para ajustar la responsividad en diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .e-card {
      margin: 50px auto;
      width: 90vw;
      height: 90vw;
      max-width: 260px;
      max-height: 260px;
    }
  
    .infotop, .name {
      font-size: calc(3vw + 10px); /* Aumenta el tamaño de fuente para mayor legibilidad */
    }
  }
  
  @media (max-width: 480px) {
    .e-card {
      margin: 30px auto;
      width: 95vw;
      height: 95vw;
      max-width: 240px;
      max-height: 240px;
    }
  
    .infotop, .name {
      font-size: calc(4vw + 10px); /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
  }
  
  /* Keyframes para la animación de onda */
  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(2) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(2) rotate(360deg);
    }
  }
  
    /* Recommendation Cards */
 
    
    .card-person {
      width: 300px;
      height: 300px;
      transition: all 0.2s;
      position: relative;
      cursor: pointer;
      top: 4vh;
      transition: 0.3s ease-in;
    }
    
    .card-inner-person {
      width: inherit;
      height: inherit;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      border-radius: 8px;
    }
    
    .card-person:hover {
      transform: scale(1.02);
    }
    
    .circle-person {
      width: 100px;
      height: 100px;
      background: repeating-linear-gradient(48deg, #3123ae43 0%, #b774e034 100%);
      border-radius: 35% 30% 75% 30% / 49% 30% 70% 51%;
      position: absolute;
      animation: move-up6 2s ease-in infinite alternate-reverse;
    }
    
    .circle-person:nth-child(1) {
      top: -25px;
      left: -25px;
    }
    
    .circle-person:nth-child(2) {
      bottom: -25px;
      right: -25px;
      animation-name: move-down1;
    }
    
    @keyframes move-up6 {
      to {
        transform: translateY(-20px);
      }
    }
    
    @keyframes move-down1 {
      to {
        transform: translateY(20px);
      }
    }
    
  
  /*   Bubbles */
  
  .bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
  }
  
  .bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
  }
  
  .bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
  }
  
  .bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
  }
  
  .bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
  }
  
  @keyframes animate_4010 {
    0%,100% {
      transform: translateY(-20px);
    }
  
    50% {
      transform: translateY(20px);
    }
  }
  
  .bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffcffed;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble span {
    position: absolute;
    border-radius: 50%;
  }
  
  .bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #92739d;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #cc8de9;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ddcde5;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #e4c4fb;
    filter: blur(12px);
  }
  
  .bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #c824ff6d;
    filter: blur(8px);
    transform: rotate(330deg);
  }
  
  
  /* blur gradient */
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg {
    position: absolute;
    width: 400px;
    fill: none;
  }
  
  .svg:nth-child(2) {
    filter: blur(40px);
  }
  
  .svg path {
    d: path("M0,25 C150,110 150, -60 300,25");
    stroke: #db94ff;
    stroke-width: 50;
    stroke-linecap: round;
    transform: translate(50px,50%);
    animation: animate 2s ease-in-out infinite;
  }
  
  @keyframes animate {
    0% {
      stroke: #cf60ff;
      stroke:#db94ff;
      d: path("M0,25 C150,110 150, -60 300,25");
    }
  
    50% {
      stroke: #9a70ad;
      stroke: #cf60ff;
      d: path("M0,25 C160,-50 140, 110 300,25");
    }
  }
  
  /* Triangulo Separador */
  .section-diagonal {
    background-color: #fcfeff; 
  }
  
  .diagonal-split {
    position: relative;
    height: 50px; 
    background-color: #ffffff; 
  }
  
  .diagonal-split::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000; 
    clip-path: polygon(100% 0, 0 100%, 100% 150%);
  }
  
  .section-diagonal2 {
    background-color: #fcfeff; 
  }
  
  .diagonal-split2 {
    position: relative;
    height: 90px; 
    background-color: #000000; 
  }
  
  .diagonal-split2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; 
    clip-path: polygon(100% 0, 0 100%, 100% 180%);
  }
  
  .section-diagonal3 {
    background-color: #fcfeff; 
  }
  
  .diagonal-split3 {
    position: relative;
    height: 90px; 
    background-color: #f8f9fa; 
  }
  
  .diagonal-split3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255 0.8);
    clip-path: polygon(100% 0, 0 100%, 100% 180%);
  }
  
  /* Cubo */
  
  .texts_play {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
  }
  
  .text-1_play {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .brilliant-solutions-text{
    font-size: 1.6em;
    text-align: center;
  }
  .text-2_play {
    font-weight: 600;
  }
  .blue-div{
   background-color: #ffffff12 ; 
   filter: blur(50%);
   text-align: start;
   justify-content: start;
   height: 186px; 
   border-radius: 80px 80px 0 0;
   box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  
  }
  
  
  /* Helpful Answers */
  /* Estilos generales para centrar el acordeón y ajustar su ancho */
  
  
  .accordion {
    width: 80%; /* Ajusta este valor según prefieras */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes internos también estén redondeados */
    transition: 0.5s ease-in;
    font-family: Raleway;
    font-size: 1.3em;
   position: relative;
   left: 8em;
  }
  .accordion-button{
    background-color: rgb(30, 30, 30);
    color: white;
    stroke: 1px white;
  }
  
  /* Estilo para el encabezado del acordeón cuando está activo */
  .accordion-button:not(.collapsed) {
    background: linear-gradient(744deg,#275db52b,#c677e346);
    color: rgb(0, 0, 0); /* Texto blanco para contraste */
  }

  .accordion-body{
    background-color: rgb(30, 30, 30);
    color: white;  }
  
  /* Opcional: Puedes ajustar también los estilos para cuando el botón no está colapsado */
  .accordion-button {
    border-radius: 15px; /* Bordes redondeados para los botones */
  }
  
  .accordion-button:hover {
    background: linear-gradient(744deg,#275db52b,#c677e346);
    color: rgb(35, 21, 21); /* Texto blanco para contraste */
  }
  
  /* Ajustes para asegurar que el acordeón y su contenido estén centrados */
  .accordion-item {
    margin-bottom: 2px; /* Espacio entre elementos del acordeón, ajusta según necesidad */
  }
  @media (max-width: 768px) {
    #bubbles, #glow-input, #how_button, #cube-loader, .card_header_social {
      display: none;
    }
  }
  

#about-tittle{
  font-family: poppins;
  font-weight: 600;
  font-size: 5vw;
  color: #ffffffd0;
  text-align: end;
  position: relative;
  text-shadow: 5px 5px 30px rgba(255, 255, 255, 0.581);
}

#about-text{

  font-family: poppins;
  font-weight: 100;
  font-size: 1vw;
  color: #e8e8e8;
  text-align: start; 
  padding-left: 20%;
  position: relative;

}
#about-text2{

  font-family: poppins;
  font-weight: 100;
  font-size: 1.4em;
  color: #ffffff;
  text-align: start; 
  padding-left: 20%;
  position: relative;
  right: 15vw;

}

#about-image-banner {
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.388);
  position: relative;
  height: 60vh;
  top: 6vh;
  z-index: 1;
  overflow: hidden; /* Asegura que nada se desborde del contenedor */
}

#about-image-banner img {
  width: 100%; /* Hace que la imagen sea tan ancha como su contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
  display: block; /* Evita que la imagen tenga espacio extra debajo */
}

#name-tag{
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.388);
  position: absolute;
  height:  20vh;
  width: 10wh;
  top: 6vh;
  z-index: 1;
  background-color: fff;
}

#about-tools{
  background-color: #000000;
}


#moving-div2{
  background-color: #c1c1c10d;
  filter: blur(50%);
}

#moving-text2 {
overflow-x: auto;
white-space: nowrap;
}

#moving-text2::-webkit-scrollbar {
display: none;
}

.con2 {
white-space: nowrap;
display: inline-block;
animation-name: move;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#moving-text2 h1 {
font-size: 9vw;
font-family: poppins;
font-weight: 400;
background-color: rgba(246, 246, 246, 0.746);
-webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
background-clip: text; /* Para navegadores estándar */
color: transparent; /* Oculta el color del texto */
/* background-color: lightblue; */
display: inline-block;
}

#gola2 {
height: 10px;
width: 10px;
border-radius: 50%;
display: inline-block;
background-color: #d9d1d1;
margin: 3vw 2vw;
}

@keyframes move {
from {
    transform: translateX(0);
}

to {
    transform: translateX(-100%);
}
}


.square {
  background-color: #101010;
  border-radius: 20px;
  padding: 10%;
  height: 42vh; /* Ajusta a la altura deseada */
  width: 100%; /* Ocupa todo el ancho de la columna */
  transition: transform 0.3s ease-in-out; /* Suaviza la transición de la escala */
}
@media (max-width: 1281px) {
  .square{
margin-bottom: 5%;  }
}

.square2{
  background-color: #4B49E5;
  border-radius: 20px;
  padding: 10%;
  height: 42vh; /* Ajusta a la altura deseada */
  width: 100%; /* Ocupa todo el ancho de la columna */
  transition: transform 0.3s ease-in-out; /* Suaviza la transición de la escala */

}

.square:hover {
  transform: scale(1.02); /* Escala el cuadrado al pasar el ratón por encima */
}
.square2:hover {
  transform: scale(1.02); /* Escala el cuadrado al pasar el ratón por encima */
}

#main-banner-about{
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.253);
}
#image-subbanner-about{
}

#about-tools{
  background-color: #000000;
  
  
}

.row-item {
  background-color: rgba(255, 255, 255, 0.802);
  border-radius: 15px;
  padding: 10px;
  margin: 1vh;

  height: 10vh;
  margin-bottom: 10px; /* Espacio entre elementos */
  transition: background-color 0.3s, color 0.3s; /* Transición suave de colores y texto */
}

.row-item:hover {
  background-color: #4B46E5;
  color: white;
}

.row-item:hover h1 {
  color: white; /* Cambio de color del texto h1 en hover */
}

.row-item:hover svg path {
  stroke: #03AE11;
}

.number-col {
  color: #03AE11;
  transition: color 0.3s; /* Transición suave del color de número */
}

.about-tittle-card{
  font-family: poppins;
  font-weight: 600;
  font-size: 5vw;
  color: #000000;
  text-align: end;
  margin-right: 30vw;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}



.about-text-card:hover{


  color: #ffffff;


}

.about-tittle-card2
{
  font-family: poppins;
  font-weight: 600;
  font-size: 1.6em;
  color: #000000;
  text-align: end;
  margin-right: 30vw;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}
.about-text-card2:hover{


  color: #ffffff;


}
@media (max-width: 1281px) {
  .about-tittle-card2 {
    font-size: 1.2em;

    
  }
  .about-tittle-number-tiny{
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .about-tittle-card2 {
    font-size: 1em;
  }
  .about-tittle-number-tiny{
    font-size: 1.5em;
  }
  #arrow{
    position: relative; 
    left: 5vw;
    width: 2.5vw;
  }
}

.about-tittle-number-tiny{
  font-family: poppins;
  font-weight: 600;
  font-size: 5vw;
  font-size: min(max(16px, 5vw), 32px); /* Limita el tamaño entre 16px y 32px */
  color: #03AE11;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}
.about-tittle-number-tiny:hover{

  color: #fff;

}

.row-item:hover h1 {
  color: white; /* Cambia el color de h1 a blanco en hover */
}



.row-item:hover .number-col {
  color: white;

}

#base-about{
  background-color: #080808;
  height: 20vw;
}
.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  pointer-event: none;
  z-index: -200 ;
  transform: translateZ(0);
  
  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
  }

  @keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #000000;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.253);

}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
  width: 0%;
}


.main-area-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -201;
}
@keyframes animate-circles {
  0% {
  opacity: 0.2;
  border-radius: 40%;
  transform: translateY(0) rotate(0deg);
  }
  100% {
  opacity: 0.6;
  border-radius: 50%;
  transform: translateY(-1000px) rotate(720deg);
  }
}

.main-area-content div {
position: absolute;
display: block;
width: 20px;
filter: blur(8px);
height: 20px;
background-image: linear-gradient(to right,#ac66d837, #0f3fffad);
bottom: -150px;
animation: animate-circles 25s linear infinite;
}
.main-area-content div:nth-child(1) {
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}

.main-area-content div:nth-child(2) {
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
animation-duration: 12s; 
}
.main-area-content div:nth-child(3) {
left: 70%;
width: 20px;
height: 20px;
animation-delay: 4s;
}
.main-area-content div:nth-child(4) {
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
animation-duration: 18s;
}
.main-area-content  div:nth-child(5) {
left: 65%;
width: 20px;
height: 20px;
animation-delay: 0s;
}
.main-area-content  div:nth-child(6) {
left: 75%;
width: 110px;
height: 110px;
animation-delay: 3s;
}
.main-area-content  div:nth-child(7) {
left: 35%;
width: 150px;
height: 150px;
animation-delay: 5s;
}
.main-area-content div:nth-child(8) {
left: 50%;
width: 25px;
height: 25px;
animation-delay: 15s;
animation-duration: 45s;
}
.main-area-content div:nth-child(9) {
left: 20%;
width: 15px;
height: 15px;
animation-delay: 2s;
animation-duration: 35s;
}
.main-area-content div:nth-child(10) {
left: 85%;
width: 150px;
height: 150px;
animation-delay: 0s;
animation-duration: 11s;
}
#main-pic-banner {
  transition: opacity 0.5s ease;
  width:40em;  
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
  border-radius: 100%;
}
.nav-item span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Añade transición para opacidad y retraso en visibilidad */
  
}

/* Set the span to be visible when its parent .nav-item is hovered over or is active */
.nav-item:hover span,
.nav-item.active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; /* Transición suave para hacerlo visible */
}

/* Estilos para .nav-item, consolidando la declaración de transition */
.nav-item {
  display: flex; /* Asegura que los elementos internos se alineen en fila */
  align-items: center; /* Centra los elementos verticalmente */
  color: #ffffff; /* Color inactivo - ajusta según sea necesario */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 5%; /* Ajusta el padding si es necesario */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color */
  border-radius: 50px;
  justify-content: center; /* Centra los elementos horizontalmente si necesitas */
  
}

/* Estilos para hover y estados activos */
.nav-item:hover,
.nav-item.active {
  color: #ffffff; /* Color de texto cuando está activo/hover - ajusta si es necesario */
  background-color: #1c1c1c; /* Fondo cuando está activo/hover - ajusta si es necesario */
  border-radius: 50px;
}

/* Estilo para SVG */
.nav-item svg {
  fill: rgb(255, 255, 255); /* El color del SVG coincide con el color del texto */
  stroke: white;

  align-items: center;
  margin-right: 8px; /* Añade un espacio a la derecha del SVG para separarlo del texto */

}



#gooey-nav {
  height: 20em;
  width: 40em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #2d38d446, #89219979);
  /* background: linear-gradient(to top right,red,blue); */
z-index: 1;

  top: -160%;
  left: 38%;
  filter: blur(20px);
  animation-name: gooey-nav;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-nav {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}


#gooey-footer-home {
  height: 50em;
  width: 50em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #2d38d446, #89219979);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 500%;
  left: 38%;
  filter: blur(20px);
  animation-name: gooey-footer-home;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-footer-home {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}


#gooey-nav-logo {
  height: 20em;
  width: 40em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #854cc546, #fbe1ff79);
  /* background: linear-gradient(to top right,red,blue); */
  z-index: 0;
  top: -160%;
  left: -0%;
  filter: blur(20px);
  animation-name: gooey-nav-logo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-nav-logo {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

