body {
  transition: background-color 0.5s ease;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff8f8;
  padding: 8vw 0;
  position: relative;
}

#moving-text {
  overflow-x: auto;
  white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #db8be7;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}


#gooey-nav {
  height: 20em;
  width: 40em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #854cc546, #fbe1ff79);
  /* background: linear-gradient(to top right,red,blue); */
z-index: 1;

  top: -160%;
  left: 38%;
  filter: blur(20px);
  animation-name: gooey-nav;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-nav {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}



#gooey-nav-logo {
  height: 20em;
  width: 40em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #cda1ff1c, #a000b91b);
  /* background: linear-gradient(to top right,red,blue); */
z-index: 0;

  top: -160%;
  left: -0%;
  filter: blur(20px);
  animation-name: gooey-nav-logo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-nav-logo {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}
#gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #f3d1f84b, #fbe1ff);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 90%;
  left: 25%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#gooey2 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ba08d570, #fbe1ff3a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 2%;
  left: 5%;
  filter: blur(20px);
  animation-name: gooey2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey2 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#gooey3 {
  height: 40vw;
  width:40vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #f9d3ffc9, #c1c1c148);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 10%;
  left: 60%;
  filter: blur(70px);
  animation-name: gooey3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey3 {
  from {
    filter: blur(20px);
    transform: translate(0, 0) skew(0); /* Empieza sin desplazamiento */
  }
  to {
    filter: blur(30px);
    transform: translate(20%, 0) skew(0); /* Se mueve hacia la derecha y no cambia verticalmente */
  }
}


#gooey4 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #0838d570, #08fff33a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  top: 25%;
  left: 35%;
  filter: blur(20px);
  animation-name: gooey4;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey4 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#gooey5 {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #9d04ae70, #08fff33a);
  /* background: linear-gradient(to top right,red,blue); */
z-index: -1000;

  left: 50%;
  filter: blur(20px);
  animation-name: gooey5;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey5 {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }
  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}
/* Button Costumers */


/* Note that you only needs to edit the config to customize the button! */
    .brilliant-solutions-text{
      font-size: 1.4em;
    }
.plusButton {
  /* Config start */
  --plus_sideLength: 1.8rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  border-radius: 5px;
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

/* Degradado Letras */
.degradado {
  font-size: clamp(3vw, 3.5vw, 4vw); /* mínimo: 1vw, preferido: 1vw, máximo: 2.5vw */
  font-weight: bold;
  background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
  -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Para navegadores estándar */
  color: transparent; /* Oculta el color del texto */
}
.degradado-bold {
  font-size: 4.5em; /* Usa vw para ajustarse al ancho de la pantalla */
  font-weight: 500;
  line-height: 0.8; /* Mejora la legibilidad */
  font-family: poppins;
  background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
  -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Para navegadores estándar */
  color: transparent; /* Oculta el color del texto */
}




.data-logo{
  fill:none;
  stroke:#000000;
  stroke-width:2.50658;
  stroke-linecap:round;
  stroke-linejoin:round
}

.data-logo:hover{
  fill:none;
  stroke:#ffffff;
  stroke-width:2.50658;
  stroke-linecap:round;
  stroke-linejoin:round
}


/* Projects Cards */


.cardProjects {
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.809);
    color: black;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
    position: relative;
    border-radius:1em;
    padding: 2em;
    transition: transform 0.4s ease;
    margin-bottom: 1em;
    padding: 2em;  }
  
  .cardProjects .card-contentProjects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    height: 100%;
    transition: transform 0.8s ease-out;
  }
  
  .cardProjects .card-topProjects, .cardProjects .card-bottomProjects {
    display: flex;
    justify-content: space-between;
  }
  
  .cardProjects .card-topProjects p, .cardProjects .card-topProjects .card-titleProjects, .cardProjects .card-bottomProjects p, .cardProjects .card-bottomProjects .card-titleProjects {
    margin: 0;
  }
  
  .cardProjects .card-titleProjects {
    font-weight: bold;
  }
  
  .cardProjects .card-topProjects p, .cardProjects .card-bottomProjects p {
    font-weight: 600;
  }
  
  .cardProjects .card-bottomProjects {
    align-items: flex-end;
  }
  
  .cardProjects .card-imageProjects {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .cardProjects .card-imageProjects svg {
    width: 2em;
    height: 2em;
    opacity: calc(90%);
    transition: transform 0.4s ease;
  }
  
  .cardProjects:hover {
    cursor: pointer;
    transform: scale(0.97);
    background-color: hsla(0, 0%, 0%, 0.918);
  }   
  
  .cardProjects:hover .card-contentProjects {
    transform: scale(0.96);
  }
  
  .cardProjects:hover  svg {
    transform: scale(1.10);
    transform: rotate(+90deg);
    fill: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
  }
  .cardProjects:hover  path {
    fill: white;
    stroke: rgb(0, 0, 0);
  }

  .cardProjects:hover p {
color: white;
  }
  .cardProjects:hover span {
    color: white;
      }
  
  
  .cardProjects:active {
    transform: scale(0.9);
  }
  

/* Tools Tags */ 
/* Estilos base para la tarjeta */
.e-card {
  margin: 70px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 80vw; /* Hace el ancho de la tarjeta relativo al ancho del viewport */
  height: 80vw; /* Hace el alto de la tarjeta relativo al ancho del viewport */
  max-width: 280px; /* Máximo ancho para asegurar que no se vea demasiado grande en pantallas anchas */
  max-height: 280px; /* Máximo alto para mantener la proporción */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease; /* Transición suave para efectos de escala */
}

/* Estilos para el efecto de onda */
.wave {
  position: absolute;
  width: 100%; /* Se ajusta al 100% del ancho de su contenedor */
  height: 100%; /* Se ajusta al 100% del alto de su contenedor */
  opacity: 0.9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2); /* Centra el fondo en la tarjeta y lo escala */
  background: linear-gradient(744deg, #000000, #000000fe, #0F2740);
  border-radius: 40%;
  animation: wave 55s infinite linear; /* Aplica animación infinita */
}

/* Estilos para iconos y texto */
.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop, .name {
  text-align: center;
  font-size: calc(1vw + 2px); /* Ajuste dinámico del tamaño de fuente */
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.5s ease; /* Transición suave para efectos de escala */
}

.name {
  font-size: 17px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 1em;
  color: white;
  background: linear-gradient(744deg, #275EB5, #C777E3);
  margin-bottom: 0.5em;
}

/* Estilos para interacción con el mouse */
.e-card:hover {
  transform: scale(1.02); /* Escala la tarjeta ligeramente */
}

.name:hover {
  transform: scale(1.09); /* Escala el nombre independientemente */
}

/* Media queries para ajustar la responsividad en diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .e-card {
    margin: 50px auto;
    width: 90vw;
    height: 90vw;
    max-width: 260px;
    max-height: 260px;
  }

  .infotop {
   font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .e-card {
    margin: 30px auto;
    width: 95vw;
    height: 95vw;
    max-width: 240px;
    max-height: 240px;
  }

  .infotop, .name {
    font-size: calc(4vw + 10px); /* Ajusta el tamaño de la fuente para pantallas pequeñas */
  }
}

/* Keyframes para la animación de onda */
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(2) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(2) rotate(360deg);
  }
}



  /* Recommendation Cards */
  .card-person {
    width: 300px;
    height: 300px;
    transition: all 0.2s;
    position: relative;
    top: 4vh;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  .card-inner-person {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .card-person:hover {
    transform: scale(1.02);
  }
  
  

/*   Bubbles */

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffcffed;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #92739d;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #cc8de9;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ddcde5;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #e4c4fb;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #c824ff6d;
  filter: blur(8px);
  transform: rotate(330deg);
}


/* blur gradient */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  position: absolute;
  width: 400px;
  fill: none;
}

.svg:nth-child(2) {
  filter: blur(40px);
}

.svg path {
  d: path("M0,25 C150,110 150, -60 300,25");
  stroke: #db94ff;
  stroke-width: 50;
  stroke-linecap: round;
  transform: translate(50px,50%);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0% {
    stroke: #cf60ff;
    stroke:0;
    d: path("M0,25 C150,110 150, -60 300,25");
  }

  50% {
    stroke: #9a70ad;
    stroke: #cf60ff;
    d: path("M0,25 C160,-50 140, 110 300,25");
  }
}

/* Triangulo Separador */
.section-diagonal {
  background-color: #fcfeff00; 
}

.diagonal-split {
  position: relative;
  height: 50px; 
  background-color: #ffffff00; 
}

.diagonal-split::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000; 
  clip-path: polygon(100% 0, 0 100%, 100% 150%);
}

.section-diagonal2 {
  background-color: #fcfeff00; 
}

.diagonal-split2 {
  position: relative;
  height: 90px; 
  background-color: #00000000; 
}

.diagonal-split2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff00; 
  clip-path: polygon(100% 0, 0 100%, 100% 180%);
}

.section-diagonal3 {
  background-color: #fcfeff00; 
}

.diagonal-split3 {
  position: relative;
  height: 90px; 
  background-color: #f8f9fa00; 
}

.diagonal-split3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255 0.8);
  clip-path: polygon(100% 0, 0 100%, 100% 180%);
}

/* Cubo */

.texts_play {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1_play {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2_play {
  font-weight: 600;
}
.blue-div{
 background-color: #000000 ; 
 height: 186px; 
 border-radius: 80px 80px 0 0;
 text-align: start;
 justify-content: start;
 box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);

}


/* Helpful Answers */
/* Estilos generales para centrar el acordeón y ajustar su ancho */


/* Accordion general styles */
.accordion {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* White with opacity */
  font-family: 'Raleway', sans-serif; /* Raleway font */
  font-size: 16px;
  color: #495057;
  text-align: center; /* Justify text */
}

/* Accordion item style */
.accordion-item {
  border: none; /* No border */
  background-color: transparent; /* Transparent background */
}

/* Accordion button default state */
.accordion-button {
  background-color: transparent; /* Transparent background */
  color: #495057;
  padding: 1rem 1.25rem;
  border: none;
  text-align: left; /* Align text to the start */
  transition: all 0.3s ease; /* Transition for background and border */
}

/* Accordion button hover state */
.accordion-button:hover, .accordion-button:not(.collapsed) {
  background-color: rgba(255, 255, 255, 1); /* White with full opacity */
  font-size: 0.5em;
  font-weight: bold;
  background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
  -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Para navegadores estándar */
  color: transparent; /* Oculta el color del texto */
  border-left: 4px solid #db94ff; /* Purple left border */
}

/* Accordion button active state */
.accordion-button:not(.collapsed) {
  font-weight: 700; /* Bold text for active title */
}

/* Accordion button::after - icon adjustments */
.accordion-button::after {
  /* Adjust your icon image or font icon styles here */
  /* ... */
}

/* Accordion content */
.accordion-body {
  background-color: transparent; /* Transparent background */
  color: #495057;
  text-align: left; /* Align text to the start */
  padding: 1rem 1.25rem;
}
.accordion-header, .accordion-body {
  text-align: center;
}


/*  Dark Mode Alert  */ 

.card-darkmode-alert {
  max-width: 320px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.5rem;
  background: linear-gradient(744deg,#000000,#000000);
  background: -webkit-linear-gradient(to right, #00000094, #080808);
  background: linear-gradient(to right top, #080808, #434343);
  padding: 1rem;
  color: rgb(255, 255, 255);
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
}

.icon-darkmode-alert {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #000000;
  color: rgb(54, 54, 54);
}

.icon-darkmode-alert svg {
  height: 1.25rem;
  width: 1.25rem;
}

.content-darkmode-alert {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.title-darkmode-alert {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: default;
}

.desc-darkmode-alert {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(202, 200, 200);
  cursor: default;
}

.actions-darkmode-alert {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.download-darkmode-alert,
.notnow-darkmode-alert {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.375rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  outline: 2px solid transparent;
  border: 1px solid rgba(69, 69, 69, 0.363);
}

.download-darkmode-alert {
  background-color: #363636;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.18, 0.69, 0.18, 0.94);
}

.download-darkmode-alert:hover {
  background-color: #7d7d7dd7;
}

.notnow-darkmode-alert {
  background-color: #000000;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.18, 0.69, 0.18, 0.94);
}

.notnow-darkmode-alert:hover {
  background-color: #7d7d7dd7;
}

.close-darkmode-alert {
  margin: -0.375rem -0.360rem -0.375rem auto;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: #060606;
  padding: 0.360rem;
  color: rgba(255, 255, 255, 1);
  border: none;
  transition: all 0.25s cubic-bezier(0.18, 0.69, 0.18, 0.94);
  cursor: pointer;
}

.close-darkmode-alert svg {
  height: 1.25rem;
  width: 1.25rem;
}

.close-darkmode-alert:hover {
  background-color: rgb(58, 69, 83);
}



/* Notification Bar */

#notification-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.98);

  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
  stroke: none;
  z-index: 1000; /* Ensure it stays on top of other content */
  border-radius: 0; /* Optional: if you want no rounded corners */
}


.close {
  padding: 5;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: #ffff;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.103);
  justify-content: flex-start;
  display: flex;

  transition: all 0.5s ease;

  color: black;
}

.close:hover {

  background-color: hsla(0, 0%, 0%, 0.944);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(127, 127, 127, 0.509) 0px 7px 29px 0px;
  text-decoration: none;
}

.close:active {
  background-color: #dfb3f4;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

@media (max-width: 768px) {
  .bubble, #glow-input, #how_button, #cube-loader, .card_header_social {
    display: none;
  }
  #gooey-footer-home, #gooey, #gooey2, #gooey3, #gooey4, #gooey5, #gooey-footer-home, #gooey-nav-logo, #gooey-nav {
    display: none;
  }
  
}

/* About Tittle */

#about-tittle{
  font-family: poppins;
  font-weight: 600;
  font-size: 5vw;
  color: #000000;
  text-align: end;
  position: relative;
}

#about-text{

  font-family: poppins;
  font-weight: 100;
  font-size: 1vw;
  color: #000000;
  text-align: start; 
  padding-left: 20%;
  position: relative;

}


#about-text2{

  font-family: poppins;
  font-weight: 100;
  font-size: 1.4em;
  color: #000000;
  text-align: start; 
  padding-left: 20%;
  position: relative;
  right: 15vw;

}
#about-image-banner {
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.388);
  position: relative;
  height: 60vh;
  top: 6vh;
  z-index: 1;
  overflow: hidden; /* Asegura que nada se desborde del contenedor */
}

#about-image-banner img {
  width: 100%; /* Hace que la imagen sea tan ancha como su contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
  display: block; /* Evita que la imagen tenga espacio extra debajo */
}

#name-tag{
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.388);
  position: absolute;
  height:  20vh;
  width: 10wh;
  top: 6vh;
  z-index: 1;
  background-color: fff;
}

#about-tools{
  background-color: #eaeaea;
}


#moving-div2{
  background-color: #000000;
}

#moving-text2 {
overflow-x: auto;
white-space: nowrap;
}

#moving-text2::-webkit-scrollbar {
display: none;
}

.con2 {
white-space: nowrap;
display: inline-block;
animation-name: move;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#moving-text2 h1 {
font-size: 7vw;
font-family: poppins;
font-weight: 400;
background-color: rgb(255, 255, 255);
-webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari, etc.) */
background-clip: text; /* Para navegadores estándar */
color: transparent; /* Oculta el color del texto */
/* background-color: lightblue; */
display: inline-block;
}

#gola2 {
height: 10px;
width: 10px;
border-radius: 50%;
display: inline-block;
background-color: #d9d1d1;
margin: 3vw 2vw;
}

@keyframes move {
from {
    transform: translateX(0);
}

to {
    transform: translateX(-100%);
}
}

.square {
  background-color: #EFEFEF;
  border-radius: 20px;
  padding: 10%;
  height: 42vh; /* Ajusta a la altura deseada */
  width: 100%; /* Ocupa todo el ancho de la columna */
  transition: transform 0.3s ease-in-out; /* Suaviza la transición de la escala */
}
@media (max-width: 1281px) {
  .square{
margin-bottom: 5%;  }
}

.square2{
  background-color: #4B49E5;
  border-radius: 20px;
  padding: 10%;
  height: 42vh; /* Ajusta a la altura deseada */
  width: 100%; /* Ocupa todo el ancho de la columna */
  transition: transform 0.3s ease-in-out; /* Suaviza la transición de la escala */

}

.square:hover {
  transform: scale(1.02); /* Escala el cuadrado al pasar el ratón por encima */
}
.square2:hover {
  transform: scale(1.02); /* Escala el cuadrado al pasar el ratón por encima */
}

#main-banner-about{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.253);
}
#image-subbanner-about{
}

#about-tools{
  background-color: #E4E4E4;
}

.row-item {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 1vh;
  height: 10vh;
  margin-bottom: 10px; /* Espacio entre elementos */
  transition: background-color 0.3s, color 0.3s; /* Transición suave de colores y texto */
}

.row-item:hover {
  background-color: #4B46E5;
  color: white;
}

.row-item:hover h1 {
  color: white; /* Cambio de color del texto h1 en hover */
}

.row-item:hover svg path {
  stroke: #03AE11;
}

.number-col {
  color: #03AE11;
  transition: color 0.3s; /* Transición suave del color de número */
}

.about-tittle-card{
  font-family: poppins;
  font-weight: 600;
  font-size: 5vw;
  color: #000000;
  text-align: end;
  margin-right: 30vw;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}



.about-text-card:hover{


  color: #ffffff;


}

.about-tittle-card2
{
  font-family: poppins;
  font-weight: 600;
  font-size: 1.6em;
  color: #000000;
  text-align: end;
  margin-right: 30vw;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}
.about-text-card2:hover{


  color: #ffffff;


}
@media (max-width: 1281px) {
  .about-tittle-card2 {
    font-size: 1.2em;

    
  }
  .about-tittle-number-tiny{
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .about-tittle-card2 {
    font-size: 1em;
  }
  
  .about-tittle-number-tiny{
    font-size: 1.5em;
  }
  #arrow{
    position: relative; 
    left: 5vw;
    width: 2.5vw;
  }

}

.about-tittle-number-tiny{
  font-family: poppins;
  font-weight: 600;
  font-size: 1.4em;
  color: #03AE11;
  text-align: right; /* Asegúrate de usar 'right' en lugar de 'end' si deseas alineación a la derecha */

}
.about-tittle-number-tiny:hover{

  color: #fff;

}

.row-item:hover h1 {
  color: white; /* Cambia el color de h1 a blanco en hover */
}



.row-item:hover .number-col {
  color: white;

}
#arrow{
  position: relative; 
  left: 15vw;
  width: 3vw;
}


#base-about{
  background-color: #EFEFEF;
  height: 20vw;
}
.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-event: none;
  z-index: -200 ;
  transform: translateZ(0);
  
  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
  }

  @keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.253);

}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background-image: linear-gradient(to right,#3460BA, #B18EC2, #7E8CD6, #7F6BCF,#B774E0);
  width: 0%;
}
.main-area-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -201;
}
@keyframes animate-circles {
  0% {
  opacity: 0.2;
  border-radius: 40%;
  transform: translateY(0) rotate(0deg);
  }
  100% {
  opacity: 0.6;
  border-radius: 50%;
  transform: translateY(-1000px) rotate(720deg);
  }
}

.main-area-content div {
position: absolute;
display: block;
width: 20px;
filter: blur(8px);
height: 20px;
background-image: linear-gradient(to right,#688dd758, #8217b456);
bottom: -150px;
animation: animate-circles 15s linear infinite;
}
.main-area-content div:nth-child(1) {
left: 25%;
width: 80px;
height: 80px;
animation-delay: 0s;
}

.main-area-content div:nth-child(2) {
left: 10%;
width: 20px;
height: 20px;
animation-delay: 2s;
animation-duration: 12s; 
}
.main-area-content div:nth-child(3) {
left: 70%;
width: 20px;
height: 20px;
animation-delay: 4s;
}
.main-area-content div:nth-child(4) {
left: 40%;
width: 60px;
height: 60px;
animation-delay: 0s;
animation-duration: 18s;
}
.main-area-content  div:nth-child(5) {
left: 65%;
width: 20px;
height: 20px;
animation-delay: 0s;
}
.main-area-content  div:nth-child(6) {
left: 75%;
width: 110px;
height: 110px;
animation-delay: 3s;
}
.main-area-content  div:nth-child(7) {
left: 35%;
width: 150px;
height: 150px;
animation-delay: 5s;
}
.main-area-content div:nth-child(8) {
left: 50%;
width: 25px;
height: 25px;
animation-delay: 15s;
animation-duration: 45s;
}
.main-area-content div:nth-child(9) {
left: 20%;
width: 15px;
height: 15px;
animation-delay: 2s;
animation-duration: 35s;
}
.main-area-content div:nth-child(10) {
left: 85%;
width: 150px;
height: 150px;
animation-delay: 0s;
animation-duration: 11s;
}

#main-pic-banner {
  transition: opacity 0.5s ease;
  filter:grayscale(0%);
  width:30em;  
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
 
}

/* Add this style in your CSS file or within a <style> tag in the head of your HTML */

/* Set the default state of the span to be invisible */
/* Estilo inicial del span dentro de .nav-item, oculto pero de manera transicionable */
.nav-item span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Añade transición para opacidad y retraso en visibilidad */
  
}

/* Set the span to be visible when its parent .nav-item is hovered over or is active */
.nav-item:hover span,
.nav-item.active span {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; /* Transición suave para hacerlo visible */
}

/* Estilos para .nav-item, consolidando la declaración de transition */
.nav-item {
  display: flex; /* Asegura que los elementos internos se alineen en fila */
  align-items: center; /* Centra los elementos verticalmente */
  color: #000000; /* Color inactivo - ajusta según sea necesario */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 0.6em;
  height: 2em;
  padding: 5%; /* Ajusta el padding si es necesario */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color */
  border-radius: 50px;
  justify-content: center; /* Centra los elementos horizontalmente si necesitas */
  
}

/* Estilos para hover y estados activos */
.nav-item:hover,
.nav-item.active {
  color: #000000; /* Color de texto cuando está activo/hover - ajusta si es necesario */
  background-color: #ffffff55; /* Fondo cuando está activo/hover - ajusta si es necesario */
  border-radius: 50px;
}

/* Estilo para SVG */
.nav-item svg {
  fill: currentColor; /* El color del SVG coincide con el color del texto */
  align-items: center;
  margin-right: 8px; /* Añade un espacio a la derecha del SVG para separarlo del texto */

}

#gooey-footer-home {
  height: 20em;
  width: 40em;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #2d38d446, #89219979);
  /* background: linear-gradient(to top right,red,blue); */
z-index: 1;

  top: -160%;
  left: 38%;
  filter: blur(20px);
  animation-name: gooey-footer-home;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

@keyframes gooey-footer-home {
  from {
      filter: blur(20px);
      transform: translate(10%, -10%) skew(0);
  }

  to {
      filter: blur(30px);
      transform: translate(-10%, 10%) skew(-12deg);
  }
}

#timeline{
  background-color: #efefef ;
  padding: 0 20% 0 20%;
}

.timeline{
	width:fit-content;
	background-color:#efefef;
	color:#000000;
	padding:30px 20px;

}
.timeline ul{
	list-style-type:none;
	border-left:1px solid #000000;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
  color: black;
  border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}
.timeline ul li .content h3{
	color:#000000;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#202020;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#e2e2e2;
  border-radius: 20px;
  padding: 1%;

}
.timeline ul li:hover:before{
	background-color:#504DE7;
	box-shadow:0px 0px 10px 2px #afadff;
}

.svg-pill-timeline{
  background-color: #000000;
  color: white;
  border-radius: 20px;
}

@media (max-width:975px){
	.timeline{
		width:fit-content;
		padding:0%;
	}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}
}
}
.alert {
  text-align: center;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  padding: 10px; 
  opacity: 0;   
  transition: opacity 0.5s ease-in-out; 
  position: fixed; 
  top: 19em;      
  left: 50%;       
  transform: translateX(-50%);
  z-index: 1000;  
}

.containerIndicator {
  display: flex;
  position: relative;
  align-items: center;
}

.buttonIndicator {
  background: none;
  border: none;
  text-align: end;
  border-radius: 8px;
  padding: .2em 1.5em;
  font-size: 1.2em;
  align-items: center;
  font-family: poppins;
  font-weight: 300;
  color: #7f5af0;
}

.arrowIndicator {
  fill: #94a1b2;
  position: absolute;
  align-items: center;
  pointer-events: none;
  width: 15px;
  right: 0;
  top: 25%;
  transform: translateY(-17%); /* Centra los SVG verticalmente */
  opacity: 0; /* Estado inicial invisible */
  animation: moveArrow 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

.secondIndicator {
  animation-delay: 50ms; /* Retrasos para dar efecto escalonado */
}

.thirdIndicator {
  animation-delay: 100ms;
}

@keyframes moveArrow {
  0%, 100% {
    opacity: 0;
    right: 0px;
  }
  50% {
    opacity: 1;
    right: -10px;
  }
}

