#job-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f40d;
    backdrop-filter: blur(50px); /* Desenfoque */
    border-radius: 40px;

}

#job-project h1{
    text-align: start; 
    align-items: start;
    color: #323234;
    font-family: poppins;
    text-align: start;
    position: relative;
    justify-content: start;
}